body {
    background-color: #EEEBCB;
}

.post {
    margin-left: 800px;
    margin-right: 800px;
}

.content {
    font-family: 'Montagu Slab', serif;
    font-size: 20px;

    width: 800px;
    margin: 0 auto;
    margin-top: 200px;

    display: flex;
    flex-direction: column;
    text-align: center;  
}

#back a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

#back a:hover {
    color: rgb(48, 187, 145);
}



